		<footer class="bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-7">
						专注电影交流已
						<span class="foot_time">0</span>
						小时
					</div>
					<div class="col-xs-6 col-md-5">
						<span>友情链接：&nbsp;&nbsp;</span>
						<a class="" href="http://www.dysfz.vip/">电影首发站</a>
						<a class="" href="https://movie.douban.com/">豆瓣电影</a>
						<a class="" href="http://www.mtime.com/">时光网</a>
						<a class="" href="http://www.btdx8.com/">bt天堂</a>
						<a class="" href="http://pianyuan.net/">片源网</a>
					</div>
				</div>
			</div>
		</footer>
		