<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>影流网</title>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/css/front.css"/>
		<link rel="stylesheet" href="/css/home.css" />
		<link rel="stylesheet" href="/swiper/swiper-4.4.1.min.css"/>
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon" /> 
		<!-- <link rel="stylesheet" href="/layui/css/layui.css"> -->
	</head>

<% include head.html%>

<div class="container-fluid content_box">

<!-- 轮播图 -->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a class="sw_img" href="/onemovie?m_id=1" style="display: block; background-image: url(/img/s1.jpg);"></a>
			</div>
			<div class="swiper-slide">
				<a href="/onemovie?m_id=2" class="sw_img" style="display: block; background-image: url(/img/s2.jpg);"></a>
			</div>
			<div class="swiper-slide">
				<a href="/onemovie?m_id=3" class="sw_img" style="display: block;background-image: url(/img/s3.jpg);"></a>
			</div>
		</div>
		<!-- 如果需要分页器 -->
		<div class="swiper-pagination"></div>
		<!-- 如果需要导航按钮 -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
		<!-- 如果需要滚动条 -->
		<div class="swiper-scrollbar"></div>
	</div>

<!-- 电影卡片 -->
	<div class="container content_con">
		<div class="cont_con_row">
			<% for (let m of movies){%>
			<div class="movie_card">
				<a href="/onemovie?m_id=<%=m.m_id%>">
					<img src="<%=m.m_image%>"/>
					<span>
						<span style="width: 186px; display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><%=m.m_name%></span>
						<span class="small label label-success"><%=m.m_score%></span>
					</span>
					<div class="card_cover">
						<div class="caption">
							<h3><%=m.m_name%></h3>
							<p><%=m.m_director%></p>
						</div>
					</div>
				</a>
			</div>
			<%}%>
		</div>
	</div>

</div>



<% include foot.html%>
<script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
		<!-- <script src="/layui/layui.all.js"></script> -->
		<script src="/bootstrap/js/bootstrap.js"></script>
		<script src="/swiper/swiper-4.4.1.min.js"></script>
		<script src="/js/front.js"></script>
	</body>

</html>